
%hr/

// Log Level: [popup list] (set)

#log_label
  The live Chook webhook handling log  &nbsp;&nbsp;&nbsp;&nbsp; (view/hide)
  %input#pause_log{ type: 'checkbox', checked: false, onclick: 'toggle_logbox();' } pause
#logbox_div
  %textarea.logbox#logbox{ readonly: true, rows: 20, cols: 150 }
