%hr/
.section_label#log_label
  The Live Chook Log
  &nbsp;&nbsp;&nbsp;&nbsp;
  %button#view_log_btn{ type: 'button', onClick: 'view_log();', title: 'view the live Chook log' }
    View
  %button#hide_log_btn{ type: 'button', onClick: 'hide_log();', title: 'hide the live Chook log' }
    Hide
  &nbsp;&nbsp;&nbsp;&nbsp; Log Level:
  %select#log_level_select{ onchange: 'change_log_level();' }
    %option{ value: 'fatal', selected: Chook.logger.level == Logger::FATAL } fatal
    %option{ value: 'error', selected: Chook.logger.level == Logger::ERROR } error
    %option{ value: 'warn', selected: Chook.logger.level == Logger::WARN } warn
    %option{ value: 'info', selected: Chook.logger.level == Logger::INFO } info
    %option{ value: 'debug', selected: Chook.logger.level == Logger::DEBUG } debug

#logbox_div
  #logbox_btns
    %input#pause_log{ type: 'checkbox', checked: false, onclick: 'update_logbox();' }
      Pause
    &nbsp;&nbsp;&nbsp;&nbsp;
    %button#clear_log_btn{ type: 'button', onClick: 'clear_log();', title: 'clear the live Chook log' }
      Clear

  // Log Level: [popup list] (set)
  %textarea.monospaced#logbox{ readonly: true, rows: 20, cols: 150 }

%hr/
.section_label#handlers_label
  Current Webhook Handlers (#{@handlers_for_admin_page.size})
  &nbsp;&nbsp;&nbsp;&nbsp;

  %button#view_handlers_btn{ type: 'button', onClick: 'view_handlers();', title: 'view the handler list' }
    View
  %button#hide_handlers_btn{ type: 'button', onClick: 'hide_handlers();', title: 'hide the handler list' }
    Hide
  &nbsp;&nbsp;&nbsp;&nbsp;

  Handler Directory:
  %span.monospaced
    = Chook.config.handler_dir.to_s

#handlers_div
  %table#handlers_table
    %tr
      %th Event
      %th Handler Type
      %th File Name
