!!!
%html{ lang: 'en' }

  %head

    %meta{ charset: 'UTF-8' }
    %title
      Chook

    / CSS
    %link{ href: '/css/chook.css', rel: 'stylesheet' }

    / JavaScript
    %script{ type: 'text/javascript', language: 'javascript', src: '/js/chook.js' }
    %script{ type: 'text/javascript', language: 'javascript', src: '/js/logstream.js' }

  %body
    / Top
    #pageheader
      %table{ width: '100%' }
        %tr
          %td{ valign: 'bottom', width: '120' }
            #header_logo
              %img{ alt: '', height: '120', src: '/imgs/ChookLogoAlMcWhiggin.png', width: '120' }
            #header_version
              v#{Chook::VERSION}
          %td
            #definition
              %span.chook_title Chook
              %br/
              %span.def_pronunciation /tʃʊk/ (also chookie /ˈtʃʊki/ )
              %br/
              %span.def_part_of_speech noun
              %span.def_dialect Australian/NZ informal
              %br/
              %span.def_definition a chicken or fowl

    - if Chook.config.admin_user
      #login_logout_div

      - if session[:authed_jamf_admin]

        %button#logout_btn{ type: 'button', onClick: 'logout();', title: 'Reset Basic Auth to login again' }
          Log Out
        = yield

      - else
        - if @auth_failed
          Login Incorrect! &nbsp;&nbsp;&nbsp;
        %form#login_form{ name: 'login_form', method: 'POST', action: '/login' }
          Jamf Pro User name:
          %input#username{ type: :text, name: 'username' }
          Password:
          %input#password{ type: :password, name: 'password' }
          %input#login_btn{ type: :submit }
            Log In

    - else
      = yield
